@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background: #e6e9ff;;
	margin: 20px;
}


a {
	text-decoration: none;
}


.user-message{
    border-radius: 0px 10px 10px 10px;
}
.income-message{
    border-radius: 10px 10px 0px 10px;
}


@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}